.footer-dark ul a,a {
    text-decoration: none
}

.footer-dark h3,b,strong {
    font-weight: 700
}

.content-wrap,.glyphicon,.widget {
    position: relative
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 16px
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0
}

.footer-dark ul a {
    color: inherit;
    opacity: .6
}

.footer-dark ul a:hover {
    opacity: .8
}

.footer-dark .item.text {
    margin-bottom: 36px
}

@media (max-width: 767px) {
    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom: 20px
    }

    .footer-dark .item.text {
        margin-bottom: 0
    }
}

.footer-dark .item.text p {
    opacity: .6;
    margin-bottom: 0
}

.footer-dark .item.social {
    text-align: center
}

@media (max-width: 991px) {
    .footer-dark .item.social {
        text-align:center;
        margin-top: 20px
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,.4);
    margin: 0 8px;
    color: #fff;
    opacity: .75
}

.header-blue .navbar,.header-blue .navbar .navbar-nav a.active,.header-blue .navbar .navbar-nav>.show .dropdown-item {
    box-shadow: none;
    background: 0 0
}

.footer-dark .item.social>a:hover {
    opacity: .9
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: .3;
    font-size: 13px;
    margin-bottom: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

a {
    background-color: transparent;
    color: #218BC3;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,color .15s ease-in-out
}

a:active,a:hover {
    outline: 0
}

h1 {
    margin: .67em 0;
    font-size: 2.5rem
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1rem
}

a:focus,a:hover {
    color: #165c82;
    text-decoration: underline
}

a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

[role=button],a,area,button,input,label,select,summary,textarea {
    touch-action: manipulation
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit
}

.glyphicon,.small,small {
    font-weight: 400
}

h5 {
    font-size: 1.25rem
}

.row {
    margin-left: -.9375rem;
    margin-right: -.9375rem
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: .9375rem;
    padding-right: .9375rem
}

@media (min-width: 992px) {
    .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9 {
        float:left
    }

    .col-lg-8 {
        width: 66.6666666667%
    }
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: inline-block
}

.nav-link:focus,.nav-link:hover {
    text-decoration: none
}

.nav-pills .nav-item {
    float: left
}

.nav-pills .nav-link {
    display: block;
    padding: .5em 1em;
    border-radius: 0
}

.glyphicon {
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    line-height: 1;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-star:before {
    content: "\E006"
}

.glyphicon-remove:before {
    content: "\E014"
}

.glyphicon-chevron-up:before {
    content: "\E113"
}

.glyphicon-chevron-down:before {
    content: "\E114"
}

.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small {
    font-weight: 300;
    font-size: 75%;
    color: #999
}

.small,small {
    font-size: 85%
}

.nav-pills .nav-item+.nav-item {
    margin-left: 0
}

.content-wrap,.loader-wrap,.page-controls {
    left: 204px;
    transition: left .3s ease-in-out
}

@media (min-width: 768px) {
    .form-wizard .nav-pills.nav-justified>li {
        padding:0 5px
    }

    .form-wizard .nav-pills.nav-justified>li:first-child {
        padding-left: 0
    }

    .form-wizard .nav-pills.nav-justified>li:last-child {
        padding-right: 0
    }

    .content-wrap,.loader-wrap,.page-controls {
        margin-left: 50px;
        left: 154px
    }
}

.content-wrap {
    z-index: 0;
    height: 100%
}

.page-title {
    margin: 0 0 calc(1rem + 6px)
}

.widget {
    margin-bottom: 1.875rem;
    padding: 15px 20px;
    background: #fff;
    border-radius: .2rem
}

.widget>header {
    margin: -15px -20px;
    padding: 15px 20px
}

.widget>header h1,.widget>header h2,.widget>header h3,.widget>header h4,.widget>header h5,.widget>header h6 {
    margin: 0
}

.widget-controls {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 14px;
    font-size: .875rem
}

.nav-justified {
    width: 100%;
    border-bottom: 0
}

.nav-justified .nav-item {
    float: none
}

.nav-justified .nav-link {
    text-align: center;
    margin-bottom: 5px;
    margin-right: 0
}

@media (min-width: 768px) {
    .nav-justified .nav-item {
        display:table-cell;
        width: 1%
    }

    .nav-justified .nav-link {
        margin-bottom: 0
    }
}

.mb-sm {
    margin-bottom: .5rem
}

.header-blue {
    background: linear-gradient(135deg,#172a74,#21a9af);
    background-color: #184e8e;
    /* padding-bottom: 80px; */
    font-family: 'Source Sans Pro',sans-serif
}

@media (min-width: 768px) {
    .header-blue {
        /* padding-bottom:120px */
    }
}

.header-blue .navbar {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    border: none
}

.header-blue .navbar .navbar-brand {
    font-weight: 700;
    color: inherit
}

.header-blue .navbar .navbar-brand:hover {
    color: #f0f0f0
}

.header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255,255,255,.3);
    margin-top: .5rem
}

@media (min-width: 768px) {
    .header-blue .navbar {
        padding-top:1rem;
        padding-bottom: 1rem
    }

    .header-blue .navbar .navbar-collapse {
        border-color: transparent;
        margin: 0
    }

    .header-blue .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem
    }
}

.header-blue .navbar .navbar-collapse span .login {
    color: #d9d9d9;
    margin-right: .5rem;
    text-decoration: none
}

.header-blue .navbar .navbar-collapse span .login:hover {
    color: #fff
}

.header-blue .navbar .navbar-toggler {
    border-color: rgba(255,255,255,.3)
}

.header-blue .navbar .navbar-toggler:hover,.header-blue .navbar-toggler:focus {
    background: 0 0
}

@media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
        padding-left:1.2rem;
        padding-right: 1.2rem
    }
}

.header-blue .navbar .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px
}

.header-blue .navbar .dropdown-menu .dropdown-item,.header-blue .navbar .dropdown-menu .dropdown-item:focus {
    line-height: 2;
    color: #37434d
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,.header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background: #ebeff1
}

.header-blue .action-button,.header-blue .action-button:not(.disabled):active {
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 40px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    /* padding: .3rem .8rem; */
    padding: 0;
    background: 0 0;
    transition: background-color .25s;
    outline: 0
}

.header-blue .action-button:hover {
    color: #fff
}

.header-blue .navbar .form-inline label {
    color: #d9d9d9
}

.header-blue .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: 0 0;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color .3s
}

.header-blue .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc
}

.header-blue .hero {
    margin-top: 20px;
    text-align: center
}

@media (min-width: 768px) {
    .header-blue .hero {
        margin-top:60px;
        text-align: left
    }
}

.header-blue .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width: 992px) {
    .header-blue .hero h1 {
        margin-top:190px;
        margin-bottom: 24px;
        line-height: 1.2
    }
}

.header-blue .hero p {
    color: rgba(255,255,255,.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300
}

.header-blue .phone-holder {
    text-align: right
}

.header-blue div.iphone-mockup {
    position: relative;
    max-width: 300px;
    margin: 20px;
    display: inline-block
}

.header-blue .iphone-mockup img.device {
    width: 100%;
    height: auto
}

.header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    overflow: hidden;
    /* background: url(../../assets/img/screen-content-iphone-6.jpg) center; */
    background-size: cover
}

.header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: .2
}

.map-clean {
    color: #313437;
    background-color: #fff
}

.map-clean p {
    color: #7d8285
}

.map-clean h2 {
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit
}

@media (max-width: 767px) {
    .map-clean h2 {
        margin-bottom:25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.map-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.map-clean iframe {
  background-color: #eee
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
